body {
    font-family: Arial, sans-serif;
    background-color: rgb(54, 89, 154);
    margin: 0;
    padding: 0;
}
.container {
    width: 70%;
    margin: 0 auto;
    background-color: rgb(214, 211, 211);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
h1, h2 {
    color: #333;
    text-align: center;
}
hr {
    border: 0;
    height: 2px;
    background-color: black;
    margin: 20px 0;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
}
.form-group input, .form-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.form-group button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.form-group button:hover {
    background-color: #218838;
}
.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.button-container a, .button-container button {
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    background-color: #007bff;
    border: none;
    cursor: pointer;
    text-align: center;
    flex: 1;
    margin: 0 5px;
}
.button-container a:hover, .button-container button:hover {
    background-color: #0056b3;
}
.guardar {
    background-color: #28a745;
}
.guardar:hover {
    background-color: #218838;
}
.regresar {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    background-color: #007bff;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}
.regresar:hover {
    background-color: #0056b3;
}